:root {
	--dark-blue: #040430;
	--primary-color: #0d0d6b;
	--secondary-color: #42428c;
	--tertiary-color: #62629f;
	--light-blue: #a4a4d4;
	--light-blue2: #acaccc;
	--black-color: #2d2d2d;
	--gray-color: #dadada;
	--gray-color2: #969696;
	--white-gray: #f0f0f0;
	--white-color: #fafafa;
	/* hover button outlined #62629f1b; */
}

body {
	margin: 0px;
	background-color: var(--white-color);
	font-family: Roboto, 'Open Sans', sans-serif;
}
