.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	padding: 6px;
	border-radius: 6px;
	background-color: var(--white-color2);
	box-shadow: 1px 1px 4px rgb(164, 164, 164);
}

.mainContainer h1 {
	color: var(--black-color);
	margin: 0px;
	font-size: 18px;
}
