.img{
    position: relative;
	display: inline-block;
	width: fit-content;
	transition: all 0.4s ease-in-out;
}

.PhotoandEdit{
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.PhotoContainer{
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 380px;
	height: 380px;
	overflow: hidden;
    margin-right: 15px;
}

.InfoProfile{
	background-color: white;
}

.ProfileWrapper{
    display: flex;
	justify-content: center;
    flex-direction: row;
}