.cardProduct:hover {
	transition: all 0.2s ease-out;
	transform: scale(1.04, 1.04);
}

.delete {
	position: absolute;
	top: 6px;
	right: 6px;
	z-index: 1;
}

.line {
	margin: 0px;
	border: 1px solid var(--gray-color);
}

.priceContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 12px;
	padding: 12px 12px 6px;
}

.priceContainer h1 {
	margin: 0px;
	font-size: 20px;
	font-weight: 500;
}

.nameContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 12px;
	padding: 6px 12px 12px;
}

.nameContainer h2 {
	margin: 0px;
	font-size: 16px;
	font-weight: 400;
}

.iconFavorite {
	position: absolute;
	top: 6px;
	right: 6px;
}
