.cardPlan {
	display: flex;
	align-items: start;
}

.cardPlan:hover {
	transition: all 0.2s ease-out;
	transform: scale(1.06, 1.06);
}

.containerText {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textPrice {
	margin: 24px 0px;
	font-family: Roboto, 'Open Sans', sans-serif;
	font-size: 24px;
	color: var(--secondary-color);
}

.containerTextMons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	background: linear-gradient(
		90deg,
		var(--primary-color) 0%,
		var(--light-blue) 100%
	);
}

.textMons {
	margin: 0px;
	color: var(--white-color);
	font-size: 24px;
}

.containerBenefits {
	margin: 24px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.containerBenefits h2 {
	font-size: 18px;
	font-weight: 400;
	color: #888888;
	margin: 0px;
}

.containerBenefits hr {
	margin: 0px;
	width: 292px;
	border: 1px solid var(--secondary-color);
}
