.mainwrapper {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 36px;
}

.titleContainer {
	margin-top: 36px;
}

.stafftittle {
	margin: 0px;
	left: 60px;
	top: 0px;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	letter-spacing: -0.015em;
	color: var(--secondary-color);
}

.divisionline {
	margin: 0px;
	border: 2px solid var(--secondary-color);
	background-color: var(--secondary-color);
	border-radius: 10px;
}

.cardswrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
	margin-bottom: 36px;
	margin-top: 24px;
}
