.logo {
	height: 50px;
	width: 50px;
}

.toolBar {
	display: flex;
	justify-content: space-between;
}

.appGym {
	display: flex;
	align-items: center;
	gap: 12px;
	width: 170px;
}

.appGym img {
	max-width: 50px;
}

.caritaContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 170px;
	gap: 12px;
}
