:root {
	--primary-color: #18a0fb;
	--secondary-color: #a0d9ff;
	--tertiary-color: #4966ff;
	--white-color: #f0f0f0;
	--white-color2: #fafafa;
}
.sectionMain {
	background-color: var(--white-color2);
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 36px;
}

.cardContainer {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 36px 48px;
	justify-items: center;
	margin-bottom: 60px;
}

.titleContainer {
	width: 100%;
	margin: 36px 0px;
}

.title {
	display: flex;
	font-family: Roboto, 'Open Sans', sans-serif;
	font-size: clamp(20px, 48px, 48px);
	margin: 0px;
	color: var(--primary-color);
}
