.mainContainer {
    
    position: absolute;
    width: 100%;
    height:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    

}

.logoGym {
    width: 300px;
    border-radius: 200px ;
}