:root {
	--primary-color: #18a0fb;
	--secondary-color: #a0d9ff;
	--tertiary-color: #4966ff;
	--white-color: #f0f0f0;
	--white-color2: #fafafa;
	--gray-color: #dadada;
}

.mainContainer {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shopCartContainer {
	display: flex;
	background-color: white;
	box-shadow: 2px 2px 10px rgb(129, 129, 129);
	border-radius: 10px;
	gap: 24px;
	padding: 24px;
	width: fit-content;
	height: fit-content;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	/* background-color: #fecea2; */
	width: 600px;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	/* background-color: #f1f1f1; */
	width: fit-content;
	height: fit-content;
}

.infoContainer h1 {
	margin: 0px;
	font-size: 24px;
	font-weight: 600;
	/* margin-bottom: 12px; */
}

.priceContainer h2 {
	margin: 0px;
	font-size: 18px;
	font-weight: 500;
	/* margin-bottom: 6px; */
}

.total {
	font-size: 20px;
	font-weight: 600;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
