.mainContainer {
	max-width: 1440px;
	margin: 0px auto;
	margin-top: 36px;
	padding: 0px 36px;
}

.Doughnut,
.Pie,
.VerticalBar {
	background-color: beige;
	border-radius: 5px;
}

.VerticalBar {
	background-color: beige;
	border-radius: 5px;
	height: 450px;
}

.ChartWrapper {
	height: 500px;
	width: 450px;
	padding-left: 5px;
	padding-top: 5px;
}

.botoneraTrim {
	margin-top: -71px;
}

.AllChartsWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
	margin-bottom: 36px;
	margin-top: 24px;
}

.titleContainer {
	margin-bottom: 36px;
}

.titleContainer h1 {
	margin: 0px;
	font-weight: 700;
	font-size: 48px;
	color: var(--secondary-color);
}

.selectors {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

.titleContainer hr {
	margin: 0px;
	border: 2px solid var(--secondary-color);
	background-color: var(--secondary-color);
	border-radius: 10px;
}

.tittle {
	margin-top: 0px;
	font-weight: 700;
	font-size: 45px;
	color: var(--secondary-color);
}

.subtittle {
	margin-top: 0px;
	font-size: 22px;
	color: var(--secondary-color);
}
