.loginText {
  font-size: 2.6em;
  font-family: 'Roboto', sans-serif;
  color: azure;
}

.loginContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://static.elcorreo.com/www/multimedia/202109/09/media/cortadas/gimnasio-kAKB-U1504653835850pD-984x608@RC.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}