.mainContainer {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBack {
  position: absolute;
  top: 6px;
  left: 6px;
}

.mainContainerForm {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-top: 24px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 24px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(117, 117, 117, 0.75);
}

.textField {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.selectContainer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  left: 45px;
}

.select {
  width: 100%;
}
